# https://git-scm.com/docs/gitignore

# Build
/dist/
/build/

# Cache
.cache/
.coverage*
.ruff_cache/
.pytest_cache/

# Editor
/.idea/
.ipynb_checkpoints/
/.vscode/

# Environs
.env
/.venv/

# Project
!**/.gitkeep

# Python
*.py[cod]
__pycache__/
