# PROJECT

[project]
name = "{{repository}}"
version = "{{version}}"
description = "{{description}}"
authors = [{ name = "{{author}}" }]
readme = "README.md"
requires-python = ">={{python_version}}"
dependencies = []

# SCRIPTS

[project.scripts]
{{repository}} = "{{package}}.scripts:main"

# DEPENDENCIES

[dependency-groups]
quality = [
    "bandit",
    "coverage",
    "pyrefly",
    "pytest",
    "ruff",
    "micrologai",
]
version = ["commitizen", "pre-commit"]
dev = ["rust-just", "typer", "mlflow"]
doc = ["pdoc"]
notebook = ["ipykernel", "nbformat"]

# TOOLS

[tool.uv]
default-groups = ["quality", "version", "dev", "doc", "notebook"]

[tool.bandit]
targets = ["src"]

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$version"
version_scheme = "pep440"
version_provider = "pep621"
update_changelog_on_bump = true

[tool.coverage.run]
branch = true
source = ["src"]
omit = ["__main__.py"]

[tool.pytest.ini_options]
pythonpath = ["src"]

[tool.ruff]
fix = true
indent-width = 4
line-length = 100
target-version = "py313"

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"tests/*.py" = ["D100", "D103"]

# SYSTEMS

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
